<div class="container mt-5">
  <h1>Emotion in Subtitling</h1>
  <p class="mt-3">Enter the study code given to you:</p>
  <div class="input-group input-group-lg mb-3">
    <input type="text" [(ngModel)]="code" (keyup.enter)="onCodeSubmit()" placeholder="Code" id="code" name="code" class="form-control">
    <div class="input-group-append">
      <button (click)="onCodeSubmit()" class="btn btn-outline-secondary" type="button">Submit</button>
    </div>
  </div>
  <p *ngIf="invalidCode" class="error">Code is invalid</p>
</div>
