video {
  width: 100%;
}

.container {
  position: relative;
}

fa-icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  color: white;
  border: black;
  left: 0;
  right: 0;
  font-size: 36pt;
}
