<div class="container" id="container" [class.enlarged]="enlarged" [class.p-0]="enlarged">
  <fa-icon *ngIf="videoSource && playButtonVisible" [icon]="playing ? faPause : faPlay" (click)="playPauseVideo()"
           id="playButton" class="p-5"></fa-icon>
  <fa-icon *ngIf="videoSource && playButtonVisible" [icon]="enlarged ? faCompress : faExpand"
           (click)="expandShrinkVideo()" id="expandButton" class="p-5"></fa-icon>
  <div class="subtitles">
    <div *ngFor="let block of currentSubtitles">
      <div class="d-block subtitle p-2"
           [style.color]="getColor(line)"
           [style.background-color]="getBackgroundColor(line)"
           [style.font-size]="getFontSize(line)"
           [style.font-weight]="getFontWeight(line)"
           [style.font-style]="getFontStyle(line)"
           [style.text-decoration]="getTextDecoration(line)"
           [style.text-shadow]="getTextShadow(line)"
           [style.animation]="getAnimation(line)"
           *ngFor="let line of block.text">
        {{line.text}}
      </div>
    </div>
  </div>
  <video *ngIf="videoSource" (click)="playPauseVideo()" #video (mouseenter)="playButtonVisible = true"
         (mouseleave)="playButtonVisible ? showAndRemoveButtonsWithDelay() : null"
         [class]="enlarged ? 'video-enlarged' : 'mt-3'" preload="metadata" playsinline>
    <source [src]="videoSource + '#t=0.001'" type="video/mp4">
    Browser does not support video
  </video>
</div>
<div class="container">
  <h2 *ngIf="!enlarged">{{title}}</h2>
</div>
