video {
  width: 100%;
  max-height: 100vh;
}
.enlarged {
  max-width: 100vw;
}

.container {
  position: relative;
}

#playButton {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  color: white;
  border: black;
  left: 0;
  right: 0;
  font-size: 36pt;
}

#expandButton {
  position: absolute;
  z-index: 1;
  top: 90%;
  transform: translate(50%, -50%);
  color: white;
  border: black;
  right: 5%;
  font-size: 14pt;
}
