<app-nav-bar></app-nav-bar>
<div class="container pt-5">
  <div class="card-deck d-flex flex-wrap mt-3">
    <ng-container *ngFor="let video of videos">
      <div class="card">
        <img class="card-img-top" src="{{video.thumbnailUrl}}" alt="Thumbnail">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{video.title}}</h5>
          <a href="/video/{{video.id}}" class="btn btn-primary mt-auto stretched-link">Watch</a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
