<div class="container mt-5" *ngIf="seq != 'e'">
  <p>Thank you for watching the video.</p>
  <p>You have just watched a video titled "<strong>{{pastVideoTitle}}</strong>" with the following display method:
    <strong>
      <span *ngIf="DisplayOption.AUDIBLE === pastVideoDisplayOption">"A - Audible video without subtitles"</span>
      <span
        *ngIf="DisplayOption.TRADITIONAL === pastVideoDisplayOption">"B - Inaudible video with traditional subtitles"</span>
      <span *ngIf="DisplayOption.EMOTIONAL === pastVideoDisplayOption">"C - Inaudible video with enhanced subtitles"</span>
    </strong>.
  </p>
  <p [class.mb-0]="seq == 'b'"><strong>Please fill out the next page of the questionnaire now.</strong></p>
  <div *ngIf="seq == 'b'">
    <a href="#" class="d-block">If you haven't started the questionnaire yet, it can be found here.</a>
  </div>

  <button (click)="onNext()" *ngIf="seq != 'e'" type="button" class="btn btn-secondary ml-auto d-block">Next</button>
</div>

<div class="container mt-5" *ngIf="seq == 'e'">
  <p>You have reached the end of the research study.</p>
  <p><strong>Please fill out the final page of the questionnaire now.</strong></p>
  <p>Thank you for participating.</p>
</div>
