<div class="container mt-5">
  <p>Thank you for watching the video.</p>
  <p>Your video was called "<strong>{{pastVideoTitle}}</strong>" with display option:
    <strong>
      <span *ngIf="DisplayOption.AUDIBLE === pastVideoDisplayOption">"Audible video without subtitles"</span>
      <span
        *ngIf="DisplayOption.TRADITIONAL === pastVideoDisplayOption">"Inaudible video with traditional subtitles"</span>
      <span *ngIf="DisplayOption.EMOTIONAL === pastVideoDisplayOption">"Inaudible video with emotional subtitles"</span>
    </strong>.
  </p>
  <p><strong>Please fill out the next page of the questionnaire now.</strong></p>
  <p *ngIf="seq == 'd'" class="mt-5">You have reached the end of the research study. Thank you for participating.</p>
  <button (click)="onNext()" *ngIf="seq != 'd'" type="button" class="btn btn-secondary ml-auto d-block">Next</button>
</div>
